*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background-color: black;
    font-family: Georgia, serif;
}

.first{
    max-height: 100vh;
    overflow: hidden;
}


/*************************************************** Styles for the popup **************************************/

/* Popup menu which takes full height and width, displayed over the main page*/
#popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 28, 26, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    padding: 1.5rem 4rem;
}

/* Header of the popup menu with close button */
#popup-header{
    text-align: right;
    height: 10%;

    background-color: rgba(102, 217, 102, 0.9);
}

/* 'X' button for closing the popup menu */
#popup-close{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

/* Main center body of the popup which serves as a container for parts */
#popup-body{
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    background-color: rgba(232, 99, 121, 0.9);
}

/* Each area holding information within popup menu body */
.part{
    height: 200px;
    width: 200px;
    background-color: wheat;
}

#popup-footer{
    height: 10%;
    display: grid;
    gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#popup-footer>a{
    text-decoration: none;
    color: white;
}

/* Each small container in popup footer which holds social media link*/
.media{
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.media-icon{
    height: 40px;
    width: 40px;
}

/******************************************** Styles for the popup ends *******************************************/

/* Header of the main page (not popup) */
header{
    width: 80vw;
    min-height: 10vh;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Middle part of the main page excluding header and footer */
.middle{
    width: 100%;
    min-height: 90vh;

    background-image: url('./Images/urus2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* First Motors text logo */
#main-intro{
    margin-top: 8rem;
    color: lime;
    font-size: 6rem;
    text-align: center;
}

/* 'We bring you luxury' slogan */
#main-slogan{
    color: rgb(0, 255, 149);
    font-size: 2rem;
    font-style: italic;
}

/* 'Learn More...' button */
#learnbutton{
    padding: 1rem 2.5rem;
    margin: 2rem;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.2s linear;
    cursor: pointer;
}

/* Animation is there once you hover 'Learn More...' button*/
#learnbutton:hover{
    transform: scale(0.98);
    background-color: rgba(240, 248, 255, 0.813);
}

/* Three stripes button which opens popup menu */
.nav{
    width: 45px;
    display: block;
}

.nav div{
    height: 4px;
    background-color: white;
    margin: 8px 0;
    border-radius: 25px;
    transition: 0.2s linear;
}
/*==== Children of the nav button =====*/
.one{
    width: 45px;
}
.two{
    width: 27px;
}
.three{
    width: 35px;
}
/*======================================*/

.nav:hover div{
    width: 45px;
}